{{#if isEditingShop}}
  <form class="rr-inline-form" onsubmit={{action "editSubmit"}}>
    {{input type="text" class="rr-input" value=shopName placeholder=item.name}}
    <button
      type="button"
      class="rr-action-button"
      onclick={{action "editSubmit"}}
      disabled={{isAddButtonDisabled}}
    > Edit
    </button>
    <button
      class="rr-cancel-icon"
      onclick={{action "cancelEditShop"}}
    > {{fa-icon "times"}}
    </button>
  </form>
{{else}}
  <button
    type="button"
    onclick={{action "editShop" item}}
  >
    Edit
  </button>
{{/if}}
