
<form class="rr-inline-form" onsubmit={{action "editProduct"}}>
  {{input
    type="text"
    class="rr-input"
    value=productName
    placeholder=item.name
  }}
  {{input
    type="text"
    class="rr-input"
    value=productPrice
    placeholder=item.price
  }}
  {{input
    type="text"
    class="rr-input"
    value=productQuantity
    placeholder=item.quantity
  }}
  <div class="rr-inline-form-group ml-auto">
    <button
      type="submit"
      class="rr-action-button"
    >
      Edit
    </button>
    <button
      class="rr-cancel-icon"
      onclick={{action "cancelEditProduct"}}
    >
      {{fa-icon "times"}}
    </button>
  </div>
</form>
