.rr-sidebar {
  float: left;
  width: calc( 100% / 3 ); /* .w-third */
}
.rr-main-panel {
  float: left;
  width: calc( 100% / 1.5); /* .w-two-thirds */
}
.rr-list {
  list-style-type: none;
}
.rr-list-item {
  margin-bottom: 10px;
}
.rr-empty-message {
  text-align: center;
}
.rr-band-link > .rr-pointer {
  margin-left: 5px;
  display: none;
}
.rr-band-link.active > .rr-pointer {
  display: inline-block;
}
.rr-action-button {
 color: var(--button-color);
 background-color: var(--button-bg-color);
 border-radius: .125rem;
 padding: .25rem;
 padding-left: .5rem;
 padding-right: .5rem;
}
