<ul class="rr-list">
  {{#each model.products as |product|}}
    <li class="rr-list-item">
      {{product.name}}
      <div class="rr-rating fr">quantity: {{product.quantity}}</div>
      <div class="rr-rating fr">price: {{product.price}} $</div>
      {{edit-product class="fr" id=product.id item=product}}
      {{delete-product item=product}}
    </li>
  {{else}}
    <li class="rr-empty-message">
      No {{model.name}} products yet.
      <button onclick={{action "addProduct"}}>Add</button>
    </li>
  {{/each}}
</ul>
<div>
  Sum: {{model.sum}}
</div>
<div class="rr-new-label">
  {{#if isAddingProduct}}
    <form class="rr-inline-form" onsubmit={{action "saveProduct"}}>
      {{input
        type="text"
        class="rr-input"
        value=newProductName
        placeholder="New product"
      }}
      {{input
        type="text"
        class="rr-input"
        value=newProductPrice
        placeholder="Price"
      }}
      {{input
        type="text"
        class="rr-input"
        value=newProductQuantity
        placeholder="Quantity"
      }}
      <div class="rr-inline-form-group ml-auto">
        <button type="submit" class="rr-action-button" disabled={{isAddButtonDisabled}}>Add</button>
        <button
          class="rr-cancel-icon"
          onclick={{action "cancelAddProduct"}}
        >
          {{fa-icon "times"}}
        </button>
      </div>
    </form>
  {{else}}
    <label onclick={{action "addProduct"}}>
      {{fa-icon "plus"}}
      <span class="ml1">Add product</span>
    </label>
  {{/if}}
</div>
