<div class="rr-sidebar">
  <ul class="rr-list">
    {{#each model as |shop|}}
      <li class="rr-list-item">
        {{#link-to "shops.shop.products" shop.id class="rr-band-link"}}
          {{shop.name}}
        {{/link-to}}
        {{edit-shop item=shop}}
        {{delete-shop item=shop}}
      </li>
    {{/each}}
  </ul>
  <div class="rr-new-label">
    {{#if isAddingShop}}
      <form class="rr-inline-form" onsubmit={{action "saveShop"}}>
        {{input type="text" class="rr-input" value=newShopName placeholder="New shop"}}
        <button
          type="button"
          class="rr-action-button"
          onclick={{action "saveShop"}}
          disabled={{isAddButtonDisabled}}
        > Add
        </button>
        <button
          class="rr-cancel-icon"
          onclick={{action "cancelAddShop"}}
        > {{fa-icon "times"}}
        </button>
      </form>
    {{else}}
      <label onclick={{action "addShop"}}>
        {{fa-icon "plus"}}
        <span class="ml1">Add new shop</span>
      </label>
    {{/if}}
    {{#if isEditingShop }}
      {{edit-product class="fr" id=shop.id item=shop}}
    {{/if}}
  </div>
</div>
<div class="rr-main-panel">
  {{outlet}}
</div>
